.list-group {
    &.b-right {
        border-right: 2px solid crimson;
        a {
            color: #424D54;
        }
        .list-group-item {
            border: none;
            border-radius: 0;
            font-weight: bold;
            &:hover {
                cursor: pointer;
                background: rgba(219, 46, 81, 0.911);
                color: white;
            }
            &.active {
                color: white;
                background: crimson;
                &:hover {
                    color: white;
                }
            }
        }
    }
    @media (max-width: 991px) {
        &.b-right {
            border: none;
            .list-group-item {
                border-radius: 2px;
                border: none;
            }
        }
    }
    &-flush {
        .list-group-item {
            border-bottom: 1px solid #E1E5E9;
            a {
                font-size: 16px;
                color: #424D54;
                &:hover {
                    font-weight: bold;
                    text-decoration: none;
                }
            }
            &:first-child {
                border-top: none; 
            }
        }
    }
}
.pagination {
    display: flex;
    align-items: center;
    .page-item {
        .page-link {
            min-width: 21px;
            height: 24px;
            padding: 0px 5px;
            display: flex;
            justify-content: center;
            align-items: center;
            color: #424D54;
            font-weight: bold;
            border: none;
            font-size: 18px;
        }
        &.active {
            .page-link {
                background-color:  #424D54;
                color: white;
            }
        }
        .next , .previous {
            width: 33px;
            height: 38px;
            background: #E1E5E9;
            border-radius: 0;
        }
    }
}


@import './utilities/class';
@import './utilities/variables';


@import './components/button';

