.bg--gray-light-1 {
    background: $grey-lighten-1;
}
.bg--gray-light-2 {
    background: $grey-lighten-2;
}
.bg--gray-light-3 {
    background: $grey-lighten-3;
}
.bg--gray-light-4 {
    background: $grey-lighten-4;
}
.bg--gray-light-5 {
    background: $grey-lighten-5;
}
