<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <div class="container bg-dark">
        <p>123123123</p>
        <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Voluptatem modi assumenda hic ducimus reprehenderit. Non delectus illum in voluptate sit nisi! Et sapiente expedita modi voluptatum aliquam voluptatibus quae nemo ipsum blanditiis dolores
            delectus esse necessitatibus velit, dignissimos dolorem illum, rerum vitae! Ducimus ad, illum quam saepe nemo esse eius!</p>
        <p><img src="~images/xi-mang-svg.jpg" data-src="~images/xi-mang-svg.jpg | ~images/xi-mang-svg.jpg " alt="porro praesentium harum eius vel autem animi in. I"></p>
        <script src="~assets/index.js"></script>
    </div>
</body>

</html>